DB_PROVIDER=edgeone-blob
EDGEONE_BLOB_STORE=couple-points-data
INVITE_HASH_SECRET=change-this-long-random-string
SESSION_SECRET=change-this-other-long-random-string
INVITE_CODE=love-0525
MIGRATION_SECRET=change-this-before-importing-data
