DB_PROVIDER=cloudbase
CLOUDBASE_ENV_ID=
CLOUDBASE_DATABASE=
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
INVITE_HASH_SECRET=change-this-long-random-string
SESSION_SECRET=change-this-other-long-random-string
